<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - ShareIt</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/error_css.css">
</head>
<body>
    <div class="error-container">
        <div class="error-icon">
            <i class="fas fa-exclamation-triangle"></i>
        </div>
        <h1>{{ message }}</h1>
        <p>{{message}}</p>
        <p> Please check the link or create a new share.</p>
        <a href="/share" class="home-link">
            <i class="fas fa-home"></i>
            Return Home
        </a>
    </div>
</body>
</html>